@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --davys-gray: #4F535Eff;
  --sgbus-green: #5DE624ff;
  --non-photo-blue: #C0EEFBff;
  --lawn-green: #8FF335ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--davys-gray);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.characters-section {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.character-box {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 20%;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 2%;
}

.character-box:nth-last-child(1){
  margin-right: 0;
}

.character-box-image {
  height: 40%;
  background-image: url(https://rickandmortyapi.com/api/character/avatar/381.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: inherit;
}

.character-box-description {
  padding: 20px;
}

.character-location, .character-status, .character-name {
  font-family: Comfortaa;
}

.character-name {
  font-size: 24px;
  margin-bottom: 20px;
}

.character-location, .character-status {
  font-size: 16px;
}

.character-location {
  margin-bottom: 16px;
}

.button-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comfortaa-bold {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.comfortaa-regular {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.button-section {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 16px;
  color: var(--lawn-green);
  background-color: transparent;
  border: 1px solid  var(--lawn-green);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s ease, color 0.3s ease;
}

button:hover {
  background-color: var(--lawn-green);
  color: white;
  transform: scale(1.2);
}

button:nth-last-child(1){
  margin-right: 0;
}


@media only screen and (max-width: 768px) {
  body {
    height: auto;
  }

  .container {
    width: 90%;
  }
 
  .characters-section {
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 50px;
 }

 .character-box {
  width:  100%;
  flex-direction: row;
  margin-right: 0;
  margin-bottom: 20px;
 }

 .character-box-image {
  width: 30%;
  height: 100%;
 }

 .character-box-description {
  width: 70%;
 }

}